/* poppins-devanagari-100-normal */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-display: swap;
    font-weight: 100;
    src: url(./files/poppins-devanagari-100-normal.woff2) format('woff2'), url(./files/poppins-devanagari-100-normal.woff) format('woff');
    unicode-range: U+0900-097F,U+1CD0-1CF9,U+200C-200D,U+20A8,U+20B9,U+25CC,U+A830-A839,U+A8E0-A8FF;
}

/* poppins-devanagari-200-normal */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-display: swap;
    font-weight: 200;
    src: url(./files/poppins-devanagari-200-normal.woff2) format('woff2'), url(./files/poppins-devanagari-200-normal.woff) format('woff');
    unicode-range: U+0900-097F,U+1CD0-1CF9,U+200C-200D,U+20A8,U+20B9,U+25CC,U+A830-A839,U+A8E0-A8FF;
}

/* poppins-devanagari-300-normal */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    src: url(./files/poppins-devanagari-300-normal.woff2) format('woff2'), url(./files/poppins-devanagari-300-normal.woff) format('woff');
    unicode-range: U+0900-097F,U+1CD0-1CF9,U+200C-200D,U+20A8,U+20B9,U+25CC,U+A830-A839,U+A8E0-A8FF;
}


/* poppins-devanagari-400-normal */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(./files/poppins-devanagari-400-normal.woff2) format('woff2'), url(./files/poppins-devanagari-400-normal.woff) format('woff');
    unicode-range: U+0900-097F,U+1CD0-1CF9,U+200C-200D,U+20A8,U+20B9,U+25CC,U+A830-A839,U+A8E0-A8FF;
}