.main{
  @apply  flex  flex-col items-center justify-center  h-[800px]  bg-[#1C1C21]   ;
}

.roadmap {
  @apply flex bg-[#1C1C21] flex-col justify-center items-center gap-64 w-[1600px];
  /* Other existing styles */
}

.container{
  @apply flex flex-row  relative justify-center  w-[800px]  ;
}

.text{
  @apply text-white text-1-8 font-poppins justify-center flex ;
}

.circles_container {
  @apply justify-center items-center flex flex-col ;
  top:75%;
  left:15%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.circle {
  @apply w-[10px] h-[10px] rounded-full bg-[#A44CD3] justify-center items-center flex absolute;
}

.date_text{
  @apply text-[#BBB] text-[20px] font-poppins text-center p-6 font-medium hover:text-white cursor-pointer w-[300px];
}
.description_text{
  @apply  text-[#BBB] text-[12px] w-[350px] text-center  absolute  p-10  mt-[200px] font-poppins hover:text-white;
}




.date_text_1{
  @apply   text-[#BBB] text-[20px] font-poppins text-center   font-medium hover:text-white  cursor-pointer absolute mb-[250px] w-[300px] h-[40px]  ;
}

.description_text_1{
  @apply text-[#BBB] text-[12px] w-[350px] text-center  absolute mb-[120px] p-10  font-poppins hover:text-white  ;
}

.circle_1{
  @apply w-[10px] h-[10px] rounded-full bg-[#A44CD3] justify-center items-center flex absolute;
}

.time_text_1{
  @apply   text-[#BBB] text-[20px] font-poppins text-center p-10  font-medium hover:text-purple  cursor-pointer absolute mt-[80px] w-[200px];
}

.time_text{
  @apply text-[#BBB] text-[20px] font-poppins text-center p-6 font-medium hover:text-purple cursor-pointer ;
}


.body{
  @apply flex flex-row justify-between gap-80 w-[1200px] ;
}

.arrow_container{
  @apply flex flex-row gap-6 justify-end w-[1600px] pt-40;
}



