.main{
  @apply justify-center     h-full items-center relative bg-black;
}

.first_container{
  @apply  justify-center  items-center flex flex-row p-20 max-lg:flex-col max-md:p-2;
}

.text_container{
  @apply w-[606px]  justify-center flex flex-col p-10 max-md:w-[350px] max-lg:flex-col max-md:text-center max-md:p-2;
}

.image_container{
  @apply max-md:w-[300px];
}

.headline{
  @apply text-white text-[34px] font-poppins font-normal p-4 max-md:text-[20px];
}

.text{
  @apply text-[#D0D0D0] text-[16px] font-poppins  p-4 max-md:text-[12px];
  font-weight: 350;
}z

.line{
  @apply p-10 max-md:hidden;
}

.second_container{
  @apply justify-center  items-center flex flex-row p-20 gap-40 max-lg:flex-col  ;
}

.card {
  @apply relative w-[496px] h-[688px] border border-[#87A2BC] rounded-[20px] flex  justify-end overflow-hidden max-md:w-[320px];
}

.picture {
  @apply absolute top-0     h-[260px] object-cover   grayscale;
  border-radius: 1px 1px 20px 20px;
}

.headline_text {
  @apply absolute top-0 z-10 text-white text-[26px] font-poppins w-[496px] h-[260px] text-center p-1 flex  justify-end max-md:text-[20px] max-md:pl-20 max-md:pb-4;
  background: linear-gradient(180deg, rgba(46, 39, 70, 0.00) 0%, #2E2646 100%);
  flex-direction: column;

}
.realko {
  @apply min-mds:pl-[180px];
}

.headline_text_marketplace{
  @apply text-white text-[26px] font-poppins max-md:text-[16px];
}

.marketplace_container{
  @apply flex justify-end flex-col w-[496px] gap-4 p-20  max-md:p-4 max-md:p-16  ;
}


.marketplace_text{
  @apply text-[#BBB] text-[16px] font-poppins max-md:text-[14px];
  font-weight: 300;
}